.container {
    max-width: 1200px;
    margin: 0 auto;
}

.cover-img-wrapper {
    position: relative;
    max-width: 100%;
}

.cover-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.profile-picture {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    overflow: hidden;
    width: 180px;
    height: 180px;
    border: 5px solid white;
    z-index: 1;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease 0.3s;
}

.edit-icon-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.profile-picture:hover img {
    filter: blur(1px);
    opacity: 0.9;
}

.profile-picture:hover .edit-icon-wrapper {
    display: block;
}

.edit-icon {
    font-size: 24px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-header {
    text-align: center;
    padding-top: 60px;
    margin-bottom: 20px;
}

.profile-details p {
    margin: 5px 0;
    color: #555;
}

.follow,
.voting {
    display: flex;
    justify-content: center;
    gap: 15px;
}

p strong {
    color: #a20d0d;
}

.follow-btn {
    background: linear-gradient(to right, #ff6400, #ff9600);
    color: white;
    border-radius: 8px;
    border: none;
    padding: 8px 15px;
    transition: transform 0.3s ease;
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.post-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.post-item img,
.post-item video {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.post-item:hover img,
.post-item:hover video {
    transform: scale(1.05);
}

.post-info {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.post-item:hover .post-info {
    transform: translateY(0);
}

.post-info p {
    margin: 5px 0;
    font-size: 14px;
}

.post-info i {
    color: #a20d0d;
    margin-right: 5px;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: none;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.tab-button.active {
    background: linear-gradient(to right, #ff6400, #ff9600);
    color: white;
}

.table-container {
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 10px 0px rgb(194, 194, 194);
}

.table-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#data-table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

thead tr {
    background: linear-gradient(to right, #ff6400, #ff9600);
    color: white;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    padding: 5px 10px;
    background-color: #a20d0d;
    color: white;
    border-radius: 5px;
    border: none;
}

@media (max-width: 768px) {
    .posts {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .profile-header {
        gap: 5px;
    }

    .posts {
        grid-template-columns: 1fr;
    }
}

/* Update Profile Pop-Up */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-right: -10px;
}

.close-btn:hover {
    color: #ff6400;
}

.modal-content h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
}

.modal-content p {
    margin-bottom: 20px;
    color: #555;
    line-height: 1.6;
}

.modal-content label {
    display: block;
    margin: 10px 0 5px;
    color: black;
    font-weight: bold;
}

.modal-content input,
.modal-content select,
.modal-content textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.modal-content input:focus,
.modal-content select:focus,
.modal-content textarea:focus {
    border-color: #ad2020;
    outline: none;
}

.modal-content button {
    width: 100%;
    padding: 12px;
    background-color: #ad2020;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #ff6400;
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        max-height: 90vh;
    }

    .modal-content h1 {
        font-size: 20px;
    }
}
