body {
    padding-top: 0px;
}

.content .loginbody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.content .container {
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #ff6400, #ff9600);
    border-radius: 8px;
    overflow: hidden;
    max-width: 1000px;
    width: 90%;
}

.form-container {
    max-width: 100%;
    flex: 1;
}

@media (min-width: 1024px) {

    .loginbody {
        padding: 2% 5%;
    }

    .form-container {
        padding: 30px;
    }
}

.form-container h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: white;
}

.form-container p {
    margin-bottom: 30px;
    color: white;
}

.form-container label {
    display: block;
    margin: 10px 0 5px;
    color: white;
    font-weight: bold;
}

.form-container input,
.form-container select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    background-color: #f9f9f9;
}

.form-container button {
    width: 100%;
    padding: 12px;
    background-color: #ad2020;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #ff6400;
}

.form-container .social-signup {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.form-container .social-signup button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form-container .social-signup button:hover {
    background-color: #f4f4f9;
}

.form-container .social-signup button img {
    width: 20px;
    margin-right: 10px;
}

.footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        box-shadow: none;
    }
}

@media (max-width: 458px) {
    body {
        margin-top: 50px;
    }
}