<footer class="footersection">
  <div class="row">
    <div class="footer-col">
      <h2>Navigation</h2>
      <ul>
        <li>Home</li>
        <li>Blogs</li>
        <li>BookYourEvent</li>
        <li>Warranty FAQs</li>
      </ul>
    </div>

    <div class="footer-col">
      <h2>Support Us</h2>
      <ul>
        <li>About Us</li>
        <li>Support Center</li>
        <li>Contact Us</li>
      </ul>
    </div>

    <div class="footer-col">
      <h2>Partner</h2>
      <ul>
        <li>Our Partner</li>
        <li>Community</li>
        <li>Customers</li>
      </ul>
    </div>
    <div class="footer-col">
      <h2>Follow Us</h2>
      <div class="social-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</footer>
